.brand .h1-brand{
    font-size: 6.5em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.brand .pks-logo{
    max-width: 70%;
    margin-bottom: 50px;
}

.logo-little{
	max-width: 100px;
}

.brand .h1-seo{
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 70px;
}

.section-contact-us{
	background-image: url('../../img/footer.png');
	background-size: cover;
	background-position: top center;
	min-height: 700px;
}

.section-contact-us .col .btn{
    margin-top: 30px;
}

.section-about{
	padding-bottom: 10px;
}
.section-services{
	padding-top: 20px;
}
.section-services .image-container{
	max-width: 100px;
}

.description{
	color: #8A8A8A;
	font-weight: 400;
}

.description .font-weight-bold{
	font-weight: 600;
}

ul{
    list-style-position:outside;
}
